<%include layouts/top%>
<!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
<link href="favicon.ico" rel="shortcut icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel= "stylesheet" href = "/../css/index.css" type = "text/css">
</head>
<body>
    <%include layouts/header%>
    <div id="toatal">
    <div class='intro'>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="/../images/Sustainable-finance3.jpg" alt="first image" class="carosal-first-img">
            <div class="carousel-caption">
              <div class="quote">
                <p>“A simple fact that is hard to learn is that the 
                                <span class="space">time to save money is when you have</span> some.”</p>
            </div>
            </div>
          </div>
      
          <div class="item">
            <img src="/../images/American-Express-Saving-Illustration.jpg" alt="second image" class="carosal-second-img">
            <div class="carousel-caption">
              <h3>Chicago</h3>
              <p>Thank you, Chicago!</p>
            </div>
          </div>
      
  
        </div>
      
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  <section id="testimonials">
        <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">Testimonials</h3>
              <div class="section-title-divider"></div>
              <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-3">
              <div class="profile">
                <div class="pic"><img src="/../images/client1.png" alt=""></div>
                <h4>SriRam Chndaka</h4>
                <span>Lawless Inc</span>
              </div>
            </div>
            <div class="col-md-9">
              <div class="quote">
                <b><img src="img/quote_sign_left.png" alt="">
                </b> ChitsCo really helped us grow i can keep track of my customers status in there and if i need to look up in future or call them up for followup,i have all of that so it's helped to organized my bussiness<small><img src="img/quote_sign_right.png" alt=""></small>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-9">
              <div class="quote">
                <b><img src="img/quote_sign_left.png" alt=""></b>As a busy business owner, I need 21st century technology, backed by the human touch.  With ChitsCo, I have both, and my chits is easy as 'pizza' pie.. <small><img src="img/quote_sign_right.png" alt=""></small>
              </div>
            </div>
            <div class="col-md-3">
              <div class="profile">
                <div class="pic"><img src="/../images/client2.jpg" alt=""></div>
                <h4>Saikumar Bonda</h4>
                <span>Odeo Inc</span>
              </div>
            </div>
          </div>
    
        </div>
      </section>


    <section id="team">
            <div class="container wow fadeInUp">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="section-title">Our Team</h3>
                  <div class="section-title-divider"></div>
                  <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
              </div>
        
              <div class="row">
                <div class="col-md-4">
                  <div class="member">
                    <div class="pic"><img src="/../images/team1.jpg" alt=""></div>
                    <h4>Srujan Reddy</h4>
                    <span>Chief Executive Officer</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="member">
                    <div class="pic"><img src="/../images/team2.jpg" alt=""></div>
                    <h4>Janakiram</h4>
                    <span>Product Manager</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="member">
                    <div class="pic"><img src="" alt=""></div>
                    <h4>Anvesh Reddy</h4>
                    <span>CTO</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </section>
  </div>
<%include layouts/footer%>